@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=PT+Sans:ital@0;1&family=Poppins:wght@400;500&family=Raleway:ital@1&family=Roboto&display=swap");

/*common tag*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.primary-button {
  background-image: linear-gradient(90deg, #e02c6d, #53142c9f);
  padding: 10px 24px;
  color: #fff;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  top: 0;
  box-shadow: 0 7px 0 #a03b60;
}
.primary-button:active {
  top: 7px;
  box-shadow: 0 0 0 #a03b60;
}

/*Header part*/

.top-header {
  margin-top: 100px;
}

.main-header {
  font-size: 24px;
  line-height: 34px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 8opx;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 19px;
}
.navigation li a {
  text-decoration: none;
  font-weight: 750;
  color: #3a3a3a;
}
.influencer {
  height: calc(100vh-80px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.influencer-talk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.influencer-talk h1 {
  font-size: 52px;
  line-height: 70px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 0;
}
.influencer-talk p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-top: 0;
}
.influencer-image {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
  margin-left: 100px;
}
.influencer-image:hover {
  transform: scale(1.5) rotate(360deg);
  transition: transform 3s ease-in-out;
}
.influencer-image img {
  width: 80%;
}

/*section*/

/*logo*/
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 208px;
  margin-left: 165px;
  margin-right: 165px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*products*/

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  padding-left: 200px;
  padding-right: 200px;
}
.product {
  margin-bottom: 50px;
  padding: 24px;
  margin-top: 0;
  border-radius: 11px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-details h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 12px;
}
.product-details p {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: 200px;
  margin-bottom: 40px;
}
.fa-star {
  font-size: 10px;
  color: #fb8200;
}
small {
  font-size: 14px;
  line-height: 22px;
  font-weight: 590;
}
.small-info {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #787885;
  letter-spacing: 0.018em;
}

/*footer*/

footer {
  background-color: #0a0826;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
footer h1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}
.footer-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #d9dbe1;
}
.footer-short-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #d9dbe1;
}
footer li {
  list-style: none;
  margin: 5px;
}
footer li a {
  text-decoration: none;
  font-weight: 750;
  color: #d9dbe1;
  font-size: 18px;
}
.footer-link {
  display: flex;
  flex-direction: row;
  margin-left: 610px;
  margin-top: 15px;
  letter-spacing: 1.2em;
}
